<div class="container">
    <h1>Flash Card</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let flash of flashs; let i=index">
                <div>
                    <button (click)="toggleDetails(i)">Toggle Details</button>
                </div>
                <div *ngIf="flash.showExplanation"></div>
            </div>


        </div>
        <div class="col-md-6">
            <app-flash-form></app-flash-form>
        </div>
    </div>
    <!-- <ul>
        <div *ngFor="let flash of flashs; let i=index">
        <li>{{flash.title}}</li>
        <button (click)="toggleDetails(i)">Toggle Details</button>
        <app-flash-detail *ngIf="flash.showExplanation" [flash]="flash"></app-flash-detail>

        </div>
    </ul> -->
    <p *ngIf="flashs.length >5">Too many flash cards</p>

</div>
